# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Virtual environments
.venv/
venv/
env/
ENV/

# Test / coverage
.pytest_cache/
.coverage
htmlcov/
.tox/

# Type checkers / linters
.mypy_cache/
.ruff_cache/

# IDEs / editores
.vscode/
.idea/
*.swp
.DS_Store
